<ion-header>
  <ion-toolbar>
    <ion-title>Okode Movies App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="movieInfoContainer">

    <ion-card *ngIf="movie" id="movieBox">

      <div id="button">
        <ion-button color="medium" [routerLink]="['/', 'movies']" >X</ion-button>
      </div>

      <ion-card-content>
        <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
      </ion-card-content>

      <ion-card-title>{{movie.title}}</ion-card-title>

      <ion-card-subtitle>{{movie.overview}}</ion-card-subtitle>

      <ion-card-subtitle>{{movie.release_date | date}}</ion-card-subtitle>

      <ion-card-subtitle>{{movie.vote_average}}</ion-card-subtitle>

    </ion-card>

  </div>

</ion-content>

