<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Okode Movies App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>WELCOME!</h1>
    <ion-title>Ready to search for a movie?</ion-title>
    <br>
    <br>
    <ion-button color="light" [routerLink]="['/', 'movies']" >CLICK HERE</ion-button>
  </div>
</ion-content>
